body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

.container {
  padding: 20px;
}

.title {
  text-align: center;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.book-card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.author {
  color: gray;
}

.price {
  font-weight: bold;
}

.rating {
  color: orange;
}

/* Popup */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-card {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  position: relative;
}

.popup-card img {
  width: 100%;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;

  border: none;
  background: red;
  color: white;

  cursor: pointer;
}